@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register";
}

@using System.Security.Claims

<h2>Mr. Fix-It</h2>
<hr />
@if (User.Identity.IsAuthenticated)
{
    <h4>Hello @User.Identity.Name!</h4>

} else
{
    <p>@Html.ActionLink("Register", "Register")</p>
    <p>@Html.ActionLink("Log in", "Login")</p>
}



