@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Register";
}

<h2>Register for a Mr. Fix-It account</h2>
<hr />
<p>@Html.ActionLink("Register", "Register")</p>