@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{


    <h2>Create new Job</h2>
        <hr />
        <h4>Add a new job</h4>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.Title)
            @Html.TextBoxFor(model => model.Title)
            <input type="submit" value="Add new job" />
        }
        <p>@Html.ActionLink("Back to list", "Index")</p>
