@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using System.Security.Claims
@model MrFixIt.Models.Worker

<html>
<head>
    <title>Create</title>
</head>
<body>
    <h2>Create</h2>
    <hr />
    @if (User.Identity.IsAuthenticated)
    {
        <h4>You do not have a complete worker profile. Please create your worker profile</h4>
        @using (Html.BeginForm())
        {
            @Html.LabelFor(model => model.FirstName)
            @Html.TextBoxFor(model => model.FirstName)
            @Html.LabelFor(model => model.LastName)
            @Html.TextBoxFor(model => model.LastName)


            <input type="submit" value="Register" />
        }
    }



</body>
</html>